<div class="panel panel-info">
    <div class="panel-heading clearfix">
        <h1>All Interest Points</h1>
        <% if can? :create, InterestPoint %>
        <div class="btn-group pull-right">
            <%= default_create_button('New Interest Point', new_interest_point_path)%>
        </div>
        <% end %>
    </div>
    <!-- List of Interest Points visible to all users -->
<table class="table">
    <thead>
        <tr class="active">
            <th>Name</th>
            <th>Type</th>
            <th>Location</th>
            <th>Last Updated On</th>
        </tr>
    </thead>
    <tbody>
    <% @interest_points.each do |interest_point| %>
        <tr class="info">
            <td><%= link_to interest_point.name, interest_point, 'data-no-turbolink' => true %></td>
            <td><%= interest_point.category.name %></td>
            <td><%= interest_point.full_address %></td>
            <td><%= interest_point.updated_at %></td>
        </tr>
    <% end %>
    </tbody>
</table>
</div>