<p>Hi <%= @user.first_name %>,</p>

<p>We have noticed that the Interest Point you added at <%= root_url %> named <%= @interest_point.name %> needs your attention.</p>
<p>Please, make these changes as soon as possible, or we will be forced to revoke approval for <%= @interest_point.name %> and it will no longer be accessible on <%= root_url %>.</p>

<p>Your Hot Spots Administrator Team,</p>
<p>Chris Wilson &amp; Ashley Childress</p>